.coverImage:hover{
    transform: scale(1.05);
    
}
.blogContainer:hover .coverImage{
    transform:scale(1.05);
}

.mainContainer:hover .imageContainer{
    transform: scale(1.05);
}
#secondBox{
    min-height: 60px !important;
}

.bgColor {
    background-color: rgba(226, 231, 253, 1);
    width: 100%;
    padding-bottom: 60px;
}
.imageContainer{
    min-height: 60px;
}

@media only screen and (max-width:425px) {
    .bgColor {
        padding-bottom: 30px;
    }
}

.imageContainer {
    position: relative;
    height: 180px;
    width: 180px;
    cursor: pointer;
    transition: 0.8s;
}

.coverImage {
    width: 100%;
    border-radius: 3%;
    transition: 0.8s;

}

/* .imageContainer:hover {
    transform: scale(1.05);
} */

.imageContainerE {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

@media only screen and (max-width:425px) {
    .imageContainerE {
        margin-top: 0px;

    }
}

/* title bottom Line Animation */
@media only screen and (max-width:575px) {
    .titleContainer {
        display: flex;
        justify-content: center;

    }
}

.title {
    padding-top: 60px;
    color: black;
    font-weight: 900;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

@media only screen and (max-width:990px) {
    .title {
        padding-top: 30px;
    }
}

@media only screen and (max-width:425px) {
    .title {
        margin-left: 0px;
    }
}

.title:hover:after {
    width: 100%;
    right: 0;
}

.title:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    background: var(--main-color);
    transition: width 1s ease 0s, right 0.5s ease 0s;
    width: 44%;
}

/* // */

.searchIconContainer {
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width:575px) {
    .searchIconContainer {
        margin-right: 0px;
        margin: 0px;
        width: 100%;
        justify-content: center;
    }
}

.searchIcon {
    position: absolute;
    padding-top: 70px;
    margin-right: 20px;
}

@media only screen and (max-width:990px) {
    .searchIcon {
        padding-top: 10px;
        margin-top: 30px;
    }
}

@media only screen and (max-width:575px) {
    .searchIcon {
        right: 0;
        margin-right: 50px;


    }
}

.notFound {
    margin-right: auto;
    margin-left: auto;
    color: gray;
}

.imageContainer {
    margin-bottom: 50px;
    width: 100%;

}

@media only screen and (max-width:991px) {
    .imageContainer {
        margin-top: 30px;
        width: 100%;
        background-color: #fff;

    }
}

.date {
    color: #fff;
    padding-left: 10px;
    margin-top: 12px;
}

.dateHeading {
    color: black;
    padding-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.imageHover {
    width: 100% !important;
    height: 40px;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    transition: all 1s ease
}

.onHover {
    display: none;
    transition: all 1s ease;
    position: absolute;
    width: 411px;

}

.imageContainer:hover .onHover {
    display: block;
}

@media only screen and (max-width:575px) {
    .imageContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
}

.centerblogs {
    display: flex;
    align-items: baseline;
    justify-content: center;
    min-height: 60px;
}


.centerblogs2 {
    display: flex;
    /* align-items: baseline;
    justify-content: center; */
    justify-content: space-between;

}



.Cardtitle {
    margin-top: 20px;
}

.Cardtitle2 {
    margin-top: 50px;
}

.input {
    width: 400px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    outline: none;
    padding-left: 10px;
    margin-top: 60px;
}

@media only screen and (max-width:575px) {
    .input {
        width: 100%;
    }
}

@media only screen and (max-width:990px) {
    .input {
        margin-top: 30px;
    }
}

@media only screen and (max-width:425px) {
    .input {
        width: 100%;
        height: 50px;
        background-color: #fff;
        border: none;
        border-radius: 8px;
        outline: none;
        margin-top: 30px;
    }
}

@media only screen and (max-width:320px) {
    .input {
        width: 100%;
        height: 50px;
        background-color: #fff;
        border: none;
        border-radius: 8px;
        outline: none;
        margin-top: 30px;
    }
}