.name {
  color: #000000;
  text-align: left;
  font-size: 25px;
  font-weight: 700;
  padding: 0px !important;
  margin: 0px !important;
}
.profession {
  color: #000000;
  font-size: 21px;
  font-weight: 600;
  padding: 0px !important;
  margin-bottom: 20px;
}
.profileText {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin: 0 !important;
  padding: 0 !important;
}
.skillText {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}
.programText {
  font-size: 17px;
  color: black;
  font-weight: 700;
  margin: 0 !important;
  padding: 0 !important;
}
.company {
  font-size: 17px;
  font-weight: 500;
  margin: 0 !important;
  padding: 0 !important;
}
.description {
  font-size: 15px;
  font-weight: 500;
}
.date {
  color: black;
  font-size: 14px;
  font-weight: 500;
}
.mr {
  margin-right: 10px;
}
.mt {
  margin-top: 20px;
}
.sideMenu {
  display: flex;
  align-items: flex-start;
}
.sideMenuBox {
  min-width: 20px !important;
  max-width: 20px !important;
  margin-left: -32px;
  margin-right: 6px;
}
