.profileText {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.profile {
  font-size: 16px;
  font-weight: 400;
}
.SkillsparentContainerStyle {
  width: 100%;
}

.ProfessionHybrid {
  font-weight: 500;
  font-size: 1.4em;
  padding: 0;
  line-height: 30px;
  text-align: left;
  color: #319795;
  margin-bottom: 35px;
  margin-left: 3px;
}
.hybridName {
  text-align: left;
  font-size: 40px;
  font-weight: 500;
}
.programText {
  font-size: 20px;
  font-weight: 700;
}

.date {
  font-size: 14px;
  font-weight: 500;
  color: #449399;
}
.description {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.projectTitleText {
  font-size: 18px;
  font-weight: 500;
}
.skillText {
  font-size: 16px;
  font-weight: 500;
  margin: 3px;
}
.baseText {
  font-size: 16px;
  font-weight: 500;
  margin: 3px;
  color: #fff;
}
.languageText {
  font-size: 16px;
  font-weight: 500;
  margin: 1px;
}
.sideMenu {
  padding-left: 20px;
}
.sideMenuBox {
  width: 20px;
  margin-left: -27px;
  margin-right: 4px;
  margin-top: 10px;
}
.width {
  min-width: 25px !important;
  margin-left: 3px;
  margin-top: 10px;
}
.techName {
  color: #313c4e;
  text-align: left;
  font-size: 35px;
  font-weight: 700;
}
.techAbout {
  color: "black";
  margin-top: -37px;
}
.techContact {
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.baseTempProfession {
  font-weight: 500;
  font-size: 1.4em;
  padding: 0;
  line-height: 30px;
  text-align: left;
  color: #319795;
  margin-left: 3px;
}
.date {
  font-size: 14px;
  font-weight: 500;
  color: black;
  font-style: italic;
}
.programText {
  font-size: 24px;
  font-weight: bold;
  font-family: Ubuntu;
}
.institute {
  font-size: 24px;
  font-weight: 700;
  margin-top: -20px;
  font-family: Ubuntu;
}
.summaryStyle {
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-top: -10px;
}
.WorkparentContainerStyle {
  height: auto !important;
}
.insideContainerStyle {
  margin-top: -20px;
}
.positionContainerStyle {
  margin-top: -10px;
  width: 560px !important;
}
.containerForSummaryAndAchievement {
  margin-top: -8px;
}
.WorkchildContainerStyle {
  background-color: white;
}

.pointsContainer {
  color: black !important;
}
.pointsText {
  font-size: 16px;
  font-weight: 500;
  margin: 3px;
  color: black;
}
.BulletContainerStyle {
  width: 10px !important;
  margin-top: 15px;
}
