.main {
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.swapCont {
  position: absolute;
  right: 80px;
  top: 80px;
}

.swap {
  width: 40px;
  height: 40px;
  background-color: #03a9f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: all 0.2s;
}

.swap:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.swap img {
  width: 70%;
  filter: invert(1);
}


.profession {
  color: black;
  font-size: 1.5rem !important;
  max-width: 400px;
  min-width: 400px;
  font-weight: 500;

  padding: 0px !important;
  margin-bottom: 20px;
}

.postion {
  font-size: 18px;
  font-weight: bold;
}


.Educationdescription {
  font-size: 15px;
  font-weight: 500;
  min-width: 350px !important;
  max-width: 350px !important;
}

.date {
  font-size: 22px !important;
  font-weight: bold;
}

.company {
  font-size: 22px !important;
  font-weight: bold;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 350px !important;
  max-width: 350px !important;
}

.line {
  width: 200px !important;
  height: 10px;
  border-radius: 4px;
  margin-top: 15px !important;
}


.projectTitleText {
  font-size: 16px;
  font-weight: 500;
  color: white;

}


.profileText {
  color: white !important;
  font-size: 25px;
  font-weight: 400;
  margin-top: 5px !important;
  padding: 0 !important;
  width: 380px;
  max-width: 220px !important;
  min-width: 220px !important;
}

.name {
  font-size: 30px;
  font-weight: bold;
  color: black;

}


.description {
  font-size: 22px;
  font-weight: 500;
  min-width: 380px;
  max-width: 380px;
  margin-top: 10px;
}





.skillText {
  font-size: 16px;

  color: white !important;
  min-width: 180px;
  max-width: 180px;
}



.percent {
  margin-top: 5px !important;
}



.mt {
  margin-top: 4%;
  margin-bottom: 2%;

}

.profileText {
  color: black;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px !important;
  padding: 0 !important;
}



.referenceName {
  font-size: 20px;
  font-weight: 700;

}

.sideMenu {
  display: flex;
  align-items: flex-start;
}

.sideMenuBox {
  width: 20px;

}

.proContcat {
  font-size: 20px;
}

.contactAddress {
  font-size: 20px;
  font-weight: 500;
  min-width: 380px;
  max-width: 380px;
}

.lineText {
  height: 10px;
  width: 120px;
  border-radius: 4px;
  margin-top: 10px !important;

  margin-left: 70px;
}

.percentExp {
  color: black;
  font-size: 14px !important;
}

.company1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 380px;
  max-width: 380px;
}

.positionSty {
  font-size: 22px;
  font-weight: 500;
  max-width: 350px;
  min-width: 350px;
}

.contactFont {
  font-size: 16px !important;
  color: #fff;
  font-weight: 600;
}