.main {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.swapCont {
  position: absolute;
  right: 80px;
  top: 80px;
}

.swap {
  width: 40px;
  height: 40px;
  background-color: #03a9f4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: all 0.2s;
}

.swap:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}

.swap img {
  width: 70%;
  filter: invert(1);
}

.barContainer {
  display: flex;
  align-items: center;
  margin-right: 40px;
  width: 50%;
}

.lineBar {
  background-color: #ffffff;
  width: 100%;
  height: 6px;
}

.skillInput {
  color: grey;
  margin-left: 5px;
}

.contactHeading {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.skillContainer {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
  /* margin-right:30px; */
  margin-left: 40px;
}

.skillsInput {
  color: black;
  margin-left: 5px;
}

.skillLineBar {
  height: 7px;
  background-color: rgb(198, 188, 188);
}

.name {
  font-size: 2.2rem !important;
  font-weight: bold;
  color: black;
  max-width: 200px;
  min-width: 200px;
  color: black !important;
  margin-left: 40px;

}

.profession {
  color: black;
  font-size: 1.2rem !important;
  max-width: 150px;
  min-width: 150px;
  font-weight: 500;
  margin-left: 70px;



  padding: 0px !important;
  margin-bottom: 20px;
}



.Educationdescription {
  font-size: 15px;
  font-weight: 500;
  min-width: 250px !important;
  max-width: 250px !important;
}






.projectTitleText {
  font-size: 16px;
  font-weight: 500;
  color: white;

}

.mt {
  margin-top: 4%;
  margin-bottom: 2%;

}

.profileText {
  color: white !important;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px !important;
  padding: 0 !important;
  width: 380px;
  max-width: 180px !important;
  min-width: 180px !important;
}



.postion {
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 22px;
  font-weight: 500;
  min-width: 380px;
  max-width: 380px;
  margin-top: 10px;
}

.Educationdescription {
  font-size: 15px;
  font-weight: 500;
  min-width: 200px;
  max-width: 200px;
}

.date {
  font-size: 18px !important;
  font-weight: 500;
  color: white !important;
}

.company {
  font-size: 18px;
  font-weight: 700;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 220px;
  max-width: 220px;
  color: white !important;
}

.skillText {
  font-size: 16px;

  color: black !important;
  min-width: 180px;
  max-width: 180px;
}

.skillText1 {
  font-size: 16px;

  color: white !important;
  min-width: 180px;
  max-width: 180px;
}


.line {
  width: 200px !important;
  height: 10px;
  border-radius: 4px;
  margin-top: 15px !important;
}

.percent {
  margin-top: 5px !important;
}

.projectTitleText {
  font-size: 16px;
  font-weight: 500;
  color: white;

}



.referenceName {
  font-size: 20px;
  font-weight: 700;

}

.sideMenu {
  display: flex;
  align-items: flex-start;
}

.sideMenuBox {
  width: 20px;

}

.proContcat {
  font-size: 20px;
}

.contactAddress {
  font-size: 20px;
  font-weight: 500;
  min-width: 380px;
  max-width: 380px;
}

.lineText {
  height: 10px;
  width: 120px;
  border-radius: 4px;
  margin-top: 10px !important;

  margin-left: 70px;
}

.percentExp {
  color: black;
  font-size: 14px !important;
}

.company1 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 380px;
  max-width: 380px;
}

.positionSty {
  font-size: 18px;
  font-weight: 500;
  max-width: 400px;
  min-width: 400px;
}

.profileText1 {
  color: black !important;
  font-size: 22px;
  font-weight: bold;
  margin-top: 5px !important;
  padding: 0 !important;
  width: 380px;
  max-width: 180px !important;
  min-width: 180px !important;
}

.subText1 {
  color: black !important;
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px !important;
  padding: 0 !important;
  width: 380px;
  max-width: 180px !important;
  min-width: 180px !important;

}

.rightContainerWork {
  width: 448px !important;
}

.langDiv {
  width: 86% !important;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.skillDiv {
  width: 448px !important;
  color: #3C4240;
  font-size: 16px;
  font-weight: 600;
}

.refernceDiv {
  width: 448px !important;
}

.refernceText {
  font-size: 16px !important;
  font-weight: 600 !important;
}

.rightContainer {
  width: 100%;
}

.line {
  height: 10px;
  width: 100px;
  border-radius: 4px;
  margin-top: 10px !important;
}

.percent {
  color: #000000;
  font-size: 14px !important;
}

.date {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
}