.profileText {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.profile {
  font-size: 16px;
  font-weight: 400;
}
.ProfessionHybrid {
  font-weight: 500;
  font-size: 1.4em;
  padding: 0;
  line-height: 30px;
  text-align: left;
  color: #319795;
  margin-bottom: 35px;
  margin-left: 3px;
}
.hybridName {
  color: #313c4e;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
}
.programText {
  font-size: 20px;
  font-weight: 700;
}
.institute {
  font-size: 20px;
  font-weight: 500;
}
.date {
  font-size: 14px;
  font-weight: 500;
  color: #449399;
}
.description {
  font-size: 14px;
  font-weight: 400;
  color: black;
}
.projectTitleText {
  font-size: 18px;
  font-weight: 500;
}
.skillText {
  font-size: 16px;
  font-weight: 500;
  margin: 3px;
}
.languageText {
  font-size: 16px;
  font-weight: 500;
  margin: 1px;
}
.sideMenu {
  display: flex;
  align-items: flex-start;
}
.sideMenuBox {
  width: 20px;
  margin-left: -27px;
  margin-right: 4px;
  margin-top: 10px;
}
.width {
  min-width: 25px !important;
  margin-left: 3px;
  margin-top: 10px;
}
