.profileText {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.profile {
    font-size: 16px;
    font-weight: 400;

}
.Name {
    color: #17A9E4;
    text-align: left;
    font-size: 40px;
    font-weight: 500;
}

.programText {
    font-size: 20px;
    font-weight: 700;
    max-width: 480px;
    min-width: 480px;
}

.institute {
    font-size: 20px;
    font-weight: 500;
    min-width: 280px;
    max-width: 280px;
}
.location{
    min-width:280px;
    max-width: 280px;
}

.date {
    font-size: 14px;
    font-weight: 500;

}

.description {
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.company {
    min-width: 500px;
    max-width: 500px;
}

.skillText {
    font-size: 16px;
    font-weight: 500;
    min-width: 280px;
    max-width: 200px;
}



.sideMenu {
    display: flex;
    align-items: flex-start;
}

.sideMenuBox {
    width: 20px;
    margin-left: -27px;
    margin-right: 4px;
    margin-top: 10px;
}

.width {
    min-width: 25px !important;
    margin-left: 3px;
    margin-top: 10px;
}

.techContact {
    color: white;
    font-size: 14px;
    font-weight: 400;
}


