.mainDiv {
    background-color: white;

    width: 100%;
    height: 100vh;
    padding-top: 8%;
    
    padding-left: 5%;
}

.innerMainDiv {
    max-width: 900px;
    min-width: 900px;
    display: flex;
    height: auto;
    background-color: #F8F2EA;
    margin-bottom: 5%;
    /* margin-top: 5%; */
    justify-content: center;
    border-width: 3px;
    border-color: burlywood;
}

.innerMainDiv1 {
    background-color: #DDCAB4;

    width: 300px;
    padding: 0 25px;
    margin: 0 15px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    overflow: hidden;
    margin-bottom: 10%;
}

.innerMainDiv2 {
    background-color: #F8F2EA;
    width: 600px;
    padding: 20px 30px;
    min-height: 100%
}

.contactHeadingTitle {
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 15px;
    color: white !important;
    border-bottom: 4px solid white !important;
    border-radius: 0% !important;
    padding: 0px !important;
    text-transform: uppercase;
}

.ContactDiv {
    background-color: #2a3035;
    margin-top: 50px
}

.contactHeadingTitle:empty::before {
    opacity: 1 !important;
}

.contactDiv {
    font-size: 0.95em !important;
    line-height: 20px;
    color: black !important;
    font-weight: 400;
    margin-right: 1px !important;
    min-width: 220px;
    max-width: 220px;
}

.contactDiv:empty::before {
    color: black !important;
    font-weight: 300;
}

.contactDiv:focus {
    background-color: #F8F2EA !important;

}

.contactIconMain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    padding-bottom: 5px;
}

.contactIcon {
    width: 12%;
    display: inline-block;
    height: 33px;
    text-align: center;
    margin: 0 4px;
}

.iconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 50%;
}

.contactIconCotent {
    width: 95%;
    display: inline-block
}

.languageMainDiv {
    margin-bottom: 50px !important;
}

.templateceoHeadingTitle {

    border-left: 5px solid black !important;
    margin: 20px 0px !important;
    color: black;
    margin-bottom: 10px !important;
}

.ProfileCon {
    font-size: 1.7em;
    font-weight: 900 !important;
    text-transform: uppercase;
    border-radius: 0% !important;
    margin-bottom: 10px !important;
    padding-left: 5px;
    color: black;
}


.templateceoHeadingTitle:Empty::before {
    opacity: 1 !important;
}

.managerPadding {
    padding: 4px 5px;
}

.SkillHead {
    font-size: 1.7em;
    font-weight: 700;
    color: black !important;
    color: white;
    margin-top: 10px;



}

.progressDiv {
    display: flex;
    padding: 8px;
    margin-left: 10px;
}

.percDiv {
    padding-right: 2px !important;
}

.inputData {
    font-size: 15px !important;
}


.perD {
    margin-left: -20px !important;
    font-size: 15px !important;
    text-align: center !important;

}

.progresslangDiv {
    margin-top: 2px !important;
}

.mainSkillDiv {
    display: flex;
    flex-direction: column !important;
}

.progressContent {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.infoCon {

    font-weight: 700 !important;
    font-size: 18px !important;
}

.name {
    font-size: 40px;
    font-weight: bold;
    color: black;
    max-width: 500px;
    min-width: 500px;

}

.profession {
    color: black;
    font-size: 18px;
    padding: 0px !important;
    margin-bottom: 20px;
}

.postion {
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 15px;
    font-weight: 500;
    min-width: 500px;
    max-width: 500px;
}

.Educationdescription {
    font-size: 15px;
    font-weight: 500;
    min-width: 220px;
    max-width: 220px;
}

.date {
    font-size: 18px;
    font-weight: bold;
}

.company {
    font-size: 18px;
    font-weight: bold;
    margin: 0 !important;
    padding: 0 !important;
    min-width: 220px;
    max-width: 220px;
}

.skillText {
    font-size: 16px;
    font-weight: 500;
    margin: 3px;
}

.line {
    width: 200px !important;
    height: 10px;
    border-radius: 4px;
    margin-top: 8px !important;

}

.percent {
    margin-top: 0px !important;

}