.mainDiv {
  background-color: #e9e7da;
  min-height: fit-content;
  min-width: fit-content;
  padding: 60px 120px
}

.innerMainDiv {
  max-width: 1100px;
  min-width: 1100px;
  display: flex;
  height: 100%
}

.innerMainDiv1 {
  background-color: #1c2125;
  width: 350px;
  padding: 0 25px;
  min-height: 100%
}

.innerMainDiv2 {
  background-color: #ffffff;
  width: 750px;
  padding: 80px 40px;
  min-height: 100%
}

.contactHeadingTitle {
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 15px;
  color: white !important;
  border-bottom: 4px solid white !important;
  border-radius: 0% !important;
  padding: 0px !important;
  text-transform: uppercase;
}

.contactHeadingTitle:empty::before {
  opacity: 1 !important;
}

.contactBody {
  font-size: 0.95em !important;
  line-height: 20px;
  color: white;
}

.contactBody:empty::before {
  color: white !important;
}

.contactBody:focus {
  background-color: inherit !important;
}

.contactIconMain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px 0;
}

.contactIcon {
  width: 12%;
  display: inline-block;
  height: 33px;
  text-align: center;
  margin: 0 4px;
}

.iconDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  height: 100%;
  width: 100%;
  padding: 5px;
  border-radius: 50%;
}

.contactIconCotent {
  width: 90%;
  display: inline-block
}
.languageMainDiv{
  margin-bottom: 50px !important;
}
.templateceoHeadingTitle {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 15px;
  text-transform: uppercase;
  border-bottom: 3px solid black !important;
  border-radius: 0% !important;
  margin-bottom: 10px;
  margin-top: 50px;
}

.templateceoHeadingTitle:Empty::before {
  opacity: 1 !important;
}
.managerPadding{
  padding: 4px 5px;
}