.DetailStyle {
  font-size: 18px;
  font-weight: 500;
  margin-top: -8px;
}
.professionNameTemplate5 {
  font-weight: 700;
  font-size: 1.7em;
  padding: 0;
  line-height: 30px;
  text-align: left;
  margin-top: 10px;
}
.aboutTextTemplate5 {
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
}
.companyTemplate5 {
  font-size: 18px;
  font-weight: bold;
}
.companyDescriptionTemplate5 {
  font-size: 16px;
  font-weight: 600;
}
.skillTextTemplate5 {
  width: 120px;
}
.name {
  font-weight: 700;
  font-size: 2.4em;
  padding: 0;
  line-height: 30px;
  text-align: left;
}
.date {
  font-size: 14px;
  font-weight: bold;
}
.mWork {
  margin-left: 13pc;
  margin-top: 20px;
  width: fit-content;
}
.line {
  width: 100px;
  height: 8px;
  border-radius: 4px;
  margin-top: 12px !important;
}
.skillTxt {
  font-size: 14px;
  font-weight: bold;
}
.m {
  margin-left: 12pc;
  margin-top: 20px;
  width: fit-content;
}
.percent {
  margin-top: 4px !important ;
}
.sideMenu {
  display: flex;
  align-items: flex-start;
}
.sideMenuBox {
  min-width: 20px !important;
  max-width: 20px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
  margin-top: 35px;
}
