.name {
  color: white;
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  line-height: 40px;
}
.profession {
  color: white;
  font-size: 30px;
  font-weight: 400;
  text-align: left;
}
.company {
  font-size: 18px;
  font-weight: 700;
}
.description {
  font-size: 14px;
  margin-left: 14px;
  margin-bottom: 15px;
}
.profileText {
  color: white;
  min-width: 220px;
  max-width: 220px;
  margin: 0 !important;
  padding: 0 !important;
}
.institute {
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.date {
  color: white;
}
.position {
  font-size: 16px;
  font-weight: 600;
  padding: 0 !important;
}
.ml {
  margin-left: 14px;
}
.expDate {
  color: black;
}
.mb {
  margin-bottom: 20px !important;
}
