.ctsMain {
    text-align: center;
    padding-top: 15px;
}

.ctaHeading {
    font-size: 30px;
    font-weight: bolder;



}

.ctaHr {
    margin: auto;
    width: 5%;
    border: 3px solid #00C8AA;
    border-radius: 20px;
}


.ctaWaveBlind svg {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.ctaImageDiv {
    position: relative;
    text-align: center;
    margin-top: 10px;
}



.ctaBtn:hover {
    background-color: #50bce0;
    box-shadow: -2px -3px 6px 9px #8fd1e7;
    border-radius: 8px;


}