.nameStyle {
  font-size: 2.8em;
  font-weight: 500;
  color: #3A4D6C !important;
}

.profileSubTitle {
  font-size: 1.6em;
  font-weight: 500;
  color: #3A4D6C !important;
}

.rightContainerWork {
  width: 90%;
}

.skillText {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.line {
  height: 10px;
  width: 100px;
  border-radius: 4px;
  margin-top: 10px !important;
}

.percent {
  color: #fff;
  font-size: 14px !important;
}