.nameStyle {
  font-size: 2.8em;
  font-weight: 500;
  color: #000000 !important;
}

.profileSubTitle {
  font-size: 1.6em;
  font-weight: 500;
  color: #000000 !important;
}

.rightContainerWork {
  padding: 0px 0px 0px 50px !important;
  width: 90%;
}

.workDiv {
  padding: 0px 40px 20px 40px;
}

.skillText {
  color: #000000;
  font-weight: 600
}

.line {
  height: 10px;
  width: 100px;
  border-radius: 4px;
  margin-top: 10px !important;
}

.percent {
  color: #000000;
  font-size: 14px !important;
}