.fcontainer {
    display: flex;
    background-color: #1f262E;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12px;
    padding-bottom: 6px;
}

.h1 {
    font-size: 1.2rem;
    color: white;
}

.h1::after {
    content: " ";
    display: block;
    width: 9rem;
    margin: 1.5rem auto 3rem;
    height: 0.5rem;
    background-color: #1DBFAF;
    border-radius: 3rem;
}
.fcontainer1 {
    padding: 24px 70px;
    display: flex;
    background-color: #313B47;
    color: white;
    flex-wrap: wrap;
    justify-content: center;
}

.linkDiv {
    min-width: 270px;
    display: flex;
    flex-direction: column;
}

.linkDiv>div {
    margin-bottom: 20px;
}

.footerP {
    font-size:1rem ;
    font-weight: bold;
    margin-bottom: 20px;
}
.copyright {
    margin-top: 8px;
}

.fcontainer2 {
    padding: 16px;
    display: flex;
    background-color: rgb(66, 80, 97);
    color: white;
    flex-wrap: wrap;
    justify-content: center;
    height: 80px;
    align-items: center;
}

.oiconDiv {
    width: 60px;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.iconDiv1 {
    background-color: white;
    color: rgb(66, 80, 97);
    padding: 8px;
    border-radius: 50%;
    text-align: center;
}

.iconDiv2 {
    background-color: white;
    color: rgb(66, 80, 97);
    padding: 8px;
    border-radius: 50%;
    text-align: center;
}

.iconDiv3 {
    background-color: white;
    color: rgb(66, 80, 97);
    padding: 8px;
    border-radius: 50%;
    text-align: center;
}

.iconDiv4 {
    background-color: white;
    color: rgb(66, 80, 97);
    padding: 8px;
    border-radius: 50%;
    text-align: center;
}

.iconDiv1:hover {
    background-color: #002D6C;
    color: white;
}

.iconDiv2:hover {
    background-color: #0073b1;
    color: white;
}

.iconDiv3:hover {
    background-color: #00ACEE;
    color: white;
}

.iconDiv4:hover {
    background-color: rgb(207, 72, 72);
    color: white;
}

.icon {
    font-size: 1.3rem;
}
.icon:hover{
    font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
    .linkDiv {
        min-width: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footerP {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
    }
  }
