/* color collection */
:root {
  --font-color: rgb(49, 59, 71);
}

/* new font styles with font sizes for all screens below*/

@font-face {
  font-family: poppins;
  src: url(../assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../assets/fonts/Poppins/Poppins-Medium.ttf);
}

/* Bragndon text font */
@font-face {
  font-family: bt-regular;
  src: url(../assets/fonts/brandon-text/HVD\ Fonts\ -\ BrandonText-Regular.otf);
}

@font-face {
  font-family: bt-light;
  src: url(../assets/fonts/brandon-text/HVD\ Fonts\ -\ BrandonText-Light.otf);
}

@font-face {
  font-family: bt-regular-italic;
  src: url(../assets/fonts/brandon-text/HVD\ Fonts\ -\ BrandonText-RegularItalic.otf);
}

@font-face {
  font-family: bt-bold;
  src: url(../assets/fonts/brandon-text/HVD\ Fonts\ -\ BrandonText-Bold.otf);
}

@font-face {
  font-family: bt-thin;
  src: url(../assets/fonts/brandon-text/HVD\ Fonts\ -\ BrandonText-Thin.otf);
}

@font-face {
  font-family: Ubuntu;
  src: url(../assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: "proxima-nova";
}

/* =================================================================================================================================================== */

/* -----------------------------------------------------------------Generel FontStyles---------------------------------------------------------------- */

/* =================================================================================================================================================== */
.typewriterTxt {
  /* Font style/size use for all mein headings in this website- className = 'title' */
  font-family: "poppins-bold";
  font-style: bold;
  font-weight: 900;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 0.2vh;
}

.inputTitle {
  font-family: "poppins-bold";
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.1vh;
}

.title {
  /* Font style/size use for all mein headings in this website- className = 'title' */
  font-family: "poppins-bold";
  font-style: bold;
  font-weight: 800;
  font-size: 38px;
  line-height: 45px;
  letter-spacing: 0.2vh;
  color: black;
}

.subTitle {
  /* Font style/size use for all sub headings in this website- className = 'subTitle' */
  font-family: "poppins-bold";
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1vh;
}

.heading {
  font-family: "poppins";
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.1vh;
  color: rgb(99, 98, 98);
}

.paragraph {
  /* Font style/size use for all paragraphs in this website- className = 'paragraphs' */
  font-family: "poppins";
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: rgb(99, 98, 98);
}

.linkText {
  /* Font style/size use for all list items in this website- className = 'linkText' */
  font-family: "poppins-bold";
  font-weight: 200;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.8px;
}

.commonText {
  /* Font style/size use for any common text which will not fall any of category mentioned above, in 
  this website- className = 'commonText' */
  font-family: "poppins-bold";
  font-weight: 600;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0.1vh;
}

.navLinksMobile {
  font-family: "poppins-bold";
  font-size: 14px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.8px;
}

/* @media only screen and (min-width: 1400px){
  .navLinksMobile{
    font-family: 'proxima-nova';
    font-style: bold;
    font-weight: 600;
    font-size: 22px ;
    line-height: 24px ;
    letter-spacing: 2px ;
  }
} */
@media only screen and (max-width: 991px) {
  .navLinksMobile {
    /* Font style/size use for all sub headings in this website- className = 'subTitle' */
    font-family: "poppins-bold";
    font-style: bold;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 2px;
  }
}

/* =================================================================================================================================================== */

/* -----------------------------------------------------------------Max-1024px screen's FontStyles---------------------------------------------------- */

/* =================================================================================================================================================== */
/* @media only screen and (min-width: 1400px) {
  .title {
    font-family: 'poppins-bold';
    font-style: bold;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: .2vh;
  }
} */

@media only screen and (max-width: 1024px) {
  .title {
    /* Font style/size use for all mein headings in this website- className = 'title' */
    font-family: "poppins-bold";
    font-style: bold;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.2vh;
  }

  .subTitle {
    /* Font style/size use for all sub headings in this website- className = 'subTitle' */
    font-family: "poppins-bold";
    font-style: bold;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1vh;
  }

  .heading {
    font-family: "poppins";
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1vh;
  }

  .paragraph {
    /* Font style/size use for all paragraphs in this website- className = 'paragraphs' */
    font-family: "poppins";
    font-style: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
  }

  .linkText {
    /* Font style/size use for all list items in this website- className = 'linkText' */
    font-family: "poppins-bold";
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.8px;
  }

  .commonText {
    font-family: "poppins-bold";
    font-style: normal;
    font-weight: normal;
    font-size: 11px !important;
    line-height: 3vh;
    letter-spacing: 0.1vh;
  }
}

/* =================================================================================================================================================== */

/* -----------------------------------------------------------Tablet Max-768px screen's FontStyles---------------------------------------------------- */

/* =================================================================================================================================================== */

@media only screen and (max-width: 768px) {
  .title {
    /* Font style/size use for all mein headings in this website- className = 'title' */
    font-family: "poppins-bold";
    font-style: bold;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.2vh;
  }

  .subTitle {
    /* Font style/size use for all sub headings in this website- className = 'subTitle' */
    font-family: "poppins-bold";
    font-style: bold;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1vh;
  }

  .heading {
    font-family: "poppins";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1vh;
  }

  .paragraph {
    /* Font style/size use for all paragraphs in this website- className = 'paragraphs' */
    font-family: "poppins";
    font-style: bold;
    font-size: 14px !;
    line-height: 18px;
    letter-spacing: 0.03em;
  }

  .linkText {
    /* Font style/size use for all list items in this website- className = 'linkText' */
    font-family: "poppins-bold";
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.8px;
  }

  .commonText {
    font-family: "poppins-bold";
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 12px;
    letter-spacing: 0.1vh;
  }
}

/* =================================================================================================================================================== */

/* -----------------------------------------------------------Mobile Max-425px screen's FontStyles---------------------------------------------------- */

/* =================================================================================================================================================== */

@media only screen and (max-width: 425px) {
  .title {
    /* Font style/size use for all mein headings in this website- className = 'title' */
    font-family: "poppins-bold";
    font-style: bold;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.2vh;
  }

  .heading {
    font-family: "poppins";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1vh;
  }

  .subTitle {
    /* Font style/size use for all sub headings in this website- className = 'subTitle' */
    font-family: "poppins-bold";
    font-style: bold;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.1vh;
  }

  .paragraph {
    /* Font style/size use for all paragraphs in this website- className = 'paragraphs' */
    font-family: "poppins";
    font-style: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .linkText {
    /* Font style/size use for all list items in this website- className = 'linkText' */
    font-family: "poppins-bold";
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.8px;
  }

  .commonText {
    font-family: "poppins-bold";
    font-style: normal;
    font-weight: normal;
    font-size: 1.4vh;
    line-height: 3vh;
    letter-spacing: 0.1vh;
  }
}

/* new font styles with font sizes for all screens above*/

/* button with style like novoresume */

.buttonClassGreen {
  width: auto;
  position: relative;
  line-height: 1 !important;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  user-select: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  background-color: #00c8aa;
  padding: 10px 30px 10px 30px;
  border-radius: 5rem;
  transition: linear 0.2s;
}

.buttonClassGreen:hover {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: transparent;
  opacity: 1;
  color: white;
  border-radius: 10px;
}

.buttonClassGreen::before {
  display: block;
  border-radius: 5rem;
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  transition: ease 0.2s;
  border-radius: 5rem;
  background-color: #00c8aa !important;
}

.buttonClassGreen:hover::before {
  border-radius: 10px;
  transform: translate(-6px, -6px);
  z-index: -1;
}

.buttonClassGreen::after {
  display: block;
  border-radius: 5rem;
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  transition: ease 0.2s;
  border-radius: 5rem;
  background-color: #00c8aa;
}

.buttonClassGreen:hover::after {
  border-radius: 10px;
  transform: translate(2px, 2px);
  z-index: -1;
}

.buttonClass {
  width: auto;
  position: relative;
  line-height: 1 !important;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  background-color: #e1e1e1;
  padding: 10px 30px 10px 30px;
  border-radius: 5rem;
  transition: linear 0.2s;
}

.buttonClass:hover {
  cursor: pointer;
  font-size: 1.1rem;
  background-color: transparent;
  opacity: 1;
  border-radius: 10px;
}

.buttonClass::before {
  display: block;
  border-radius: 5rem;
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  transition: ease 0.2s;
  border-radius: 5rem;
  background-color: #e1e1e1 !important;
}

.buttonClass:hover::before {
  border-radius: 10px;
  transform: translate(-6px, -6px);
  z-index: -1;
}

.buttonClass::after {
  display: block;
  border-radius: 5rem;
  content: " ";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  transition: ease 0.2s;
  border-radius: 5rem;
  background-color: #e1e1e1;
}

.buttonClass:hover::after {
  border-radius: 10px;
  transform: translate(2px, 2px);
  z-index: -1;
}

/* button styles end */

/* common Classes */

.main-heading {
  font-family: "bt-bold", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: var(--font-color);
}

.sub-heading {
  font-family: "poppins-bold", sans-serif;
  font-size: 35px;
  font-weight: 700;
  font-style: normal;
  line-height: 46px;
  color: var(--font-color);
}

.medium-heading1 {
  font-family: "bt-regular", sans-serif;
  font-size: 29px;
  font-weight: 600;
  font-style: normal;
  line-height: 37px;
  color: var(--font-color);
}

.medium-heading {
  font-family: "bt-regular", sans-serif;
  font-size: 26px;
  font-weight: 700;
  font-style: normal;
  line-height: 38px;
  color: var(--font-color);
}

.small-heading {
  font-family: "bt-light", sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  line-height: 34px;
  color: var(--font-color);
}

.xsmall-heading {
  font-family: "bt-thin", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: var(--font-color);
}

.xsmall-heading-light {
  font-family: "bt-thin", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #000000;
}

.italic-text {
  font-family: "bt-regular-italic", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--font-color);
}

.medium-text {
  font-family: "bt-regular", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  color: var(--font-color);
}

.small-text {
  font-family: "bt-light", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: "3px 0px 3px 0px";
  color: var(--font-color);
}

.xsmall-text,
a,
.navLinks {
  font-family: "poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  color: #000000;
}

.footer-bottom-text {
  font-family: "bt-thin", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: #ffffff;
}

.button-text {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  border-radius: 5rem;
}

.footer-Link {
  font-family: "bt-light", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.only-font-family {
  font-family: "bt-regular", sans-serif;
  /* color:rgb(7, 9, 11); */
}

/*  */

.templatecontainer {
  position: relative;
}

.templateimage {
  opacity: 1;
  display: block;
  height: 320px !important;
  width: 300px !important;
  transition: 0.5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.templatemiddle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

.templatecontainer:hover .templateimage {
  opacity: 0.7;
  transform: scale(1.1);
}

.templatecontainer:hover .templatemiddle {
  opacity: 1;
}

.templatetext {
  font-family: "EuclidCircularB-Medium", sans-serif;
  font-weight: 700;
  background-color: #313b47;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  padding: 8px 10px;
  cursor: pointer;
}

.templatetext:hover {
  color: #00c8aa;
  transition: 0.5s;
}

.templateHover {
  transition: transform 0.3s;
  /* Specifies a transition effect when the image is transformed */
}

.templateHover:hover {
  transform: scale(1.1);
  /* Scales the image up by 20% on hover */
}

.tempSearchIcon {
  color: #fff;
  background-color: #313b47;
  border-radius: 50px 50px;
  padding: 0px 12px;
  position: absolute;
  top: 10px;
  right: 8px;
  z-index: 500;
}

.tempSearchIcon:hover {
  color: #00c8aa;
  transition: 0.5s;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.content-editable-container {
  padding: 4px 2px;
  white-space: pre-line;
  border-radius: 4px;
  outline: 0;
}

.content-editable-container:focus {
  border-radius: 4px;
  background-color: #efefef;
  outline: 0;
}

.content-editable-container:active {
  border-radius: 4px;
  outline: 0;
}

.content-editable-container:visited {
  border-radius: 4px;
  outline: 0;
}

.manager-f-heading-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 15px;
  text-transform: uppercase;
}

.manager-f1-heading-title {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 15px;
}

.manager-template-text-bold {
  font-weight: bold;
}

.manager-f-name {
  font-size: 0.95em !important;
  line-height: 20px;
}

.manager-jobtitle {
  font-size: 1.2em !important;
  line-height: 20px;
  font-weight: bold;
}

.manager-fName {
  font-size: 0.95em !important;
  line-height: 20px;
}

.manager-skillCeo {
  font-size: 0.95em !important;
  word-wrap: break-word !important;
  display: inline-block !important;
  width: 280px;
  margin-left: 14px !important;
}

.skillCeoMain {
  overflow: hidden;
  position: relative;
}

.manager-skillCeo:focus {
  background-color: inherit !important;
}

.skillCeobody {
  display: inline-block;
}

.skillCeodot {
  font-weight: bold !important;
  font-size: x-large;
  padding: 0 3px;
  line-height: 10px !important;
  display: inline-block;
  width: 15px;
  height: 100% !important;
  position: absolute;
  top: 2px;
}

.manager-psummary {
  font-size: 0.95em !important;

  padding: 4px 5px !important;
}

.manager-position {
  font-size: 1.2em !important;
  font-weight: bold;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: #999;
}

.educationManage {
  display: flex;
  flex-direction: row !important;
}

.fullName {
  font-weight: 700;
  font-size: 2.4em;
  padding: 0;
  line-height: 30px;
  text-align: center;
}

.fullName1 {
  font-weight: 700;
  font-size: 2.4em;
  padding: 0;

  text-align: left;
  font-size: 60px;
  color: white;
}

.fullName2 {
  font-weight: 700;
  font-size: 2.4em;
  padding: 0;

  text-align: left;
  font-size: 30px;
  color: white;
}

.fDesigner2 {
  font-size: 2.4em;
  padding: 0;
  line-height: 30px;
  text-align: center;
  /* line-height:30px; */
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.fDesigner2a {
  padding: 0;
  line-height: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.manager-template-row {
  flex-direction: row;
  display: flex;
  padding-bottom: 10px;
}

.manager-template-col {
  flex-direction: column !important;
  display: flex !important;
  padding: 10px 0px;
  background-color: inherit;
}

.manager-template-text-center {
  align-items: center;
}

.fDesigner2 {
  font-size: 3.8em;

  padding: 0;
  line-height: 30px;
  text-align: left;
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 500;
}

.fDesigner2a {
  padding: 0;
  line-height: 30px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;

  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}

.manager-f-sub-rowA {
  margin: 0 auto;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.carousel {
  width: 90%;
}

.cursor {
  cursor: pointer !important;
  position: relative;
}

.cursor img {
  height: 320px;
  border: 1px solid black;
  border-radius: 6px 6px;
}

.slick-prev {
  left: -20px !important;
}

.font {
  font-family: Euclid Circular 100;
}

.DetailStyleTemplate5 {
  font-size: 18px;
  font-weight: 500;
}

.professionNameTemplate5 {
  font-weight: 700;
  font-size: 1.7em;
  padding: 0;
  line-height: 30px;
  text-align: center;
}

.aboutTextTemplate5 {
  font-weight: 500;
  line-height: 30px;
  font-size: 16px;
}

.companyTemplate5 {
  font-size: 18px;
  font-weight: bold;
}

.companyDescriptionTemplate5 {
  font-size: 16px;
  font-weight: 600;
}

.skillTextTemplate5 {
  width: 120px;
}

.fD2textContainer {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}

/* swiper */
#coverEffectSlider {
  /* padding-top: 70px; */
  padding-bottom: 50px;
}

#coverEffectSlider .swiper-slide {
  background-position: center;
  background-size: cover;
}

#coverEffectSlider .swiper-slide img {
  width: 100%;
}

#coverEffectSlider .swiper-button-next {
  top: 40px !important;
  color: #fff !important;
}

#coverEffectSlider .swiper-button-prev,
#coverEffectSlider .swiper-container-rtl .swiper-button-prev {
  top: 40px !important;
  right: 0px !important;
  color: #fff !important;
  left: 90% !important;
}

@media only screen and(max-width: 1000px) {

  #coverEffectSlider .swiper-button-prev,
  #coverEffectSlider .swiper-container-rtl .swiper-button-prev {
    top: 40px !important;
    right: 0px !important;
    color: #fff !important;
    left: 85% !important;
  }
}

#coverEffectSlider .swiper-button-next,
#coverEffectSlider .swiper-button-prev {
  background-color: black;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  box-shadow: 2px 5px 25px rgb(0 0 0 / 21%);
}

#coverEffectSlider .swiper-button-next::after,
#coverEffectSlider .swiper-button-prev:after {
  font-size: 17px !important;
}

#coverEffectSlider .swiper-pagination-bullet {
  /* padding: 5px 10px; */
  /* margin-top: 30px; */
  border-radius: 0;
  width: auto;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

#coverEffectSlider .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

#coverEffectSlider .swiper-pagination {
  /* position: absolute; */
  /* top: 10px; */
  left: 10px;
  width: auto !important;
  /* left: auto !important; */
  margin: 0;
}

.image1 {
  left: 16.3%;
  top: 7.3%;
  -webkit-transform: rotate(-22.2deg);
  transform: rotate(-22.2deg);
  position: absolute;
  width: 45.8%;
  border-radius: 6px;
  background: var(--white);
  background-size: cover;
  background-position: 50% 0;
  -webkit-box-shadow: 0 9px 15px rgb(100 100 123 / 7%);
  box-shadow: 0 9px 15px rgb(100 100 123 / 7%);
}

.image2 {
  left: 28.3%;
  top: 4.5%;
  -webkit-transform: rotate(-4.51deg);
  transform: rotate(-4.51deg);
  position: absolute;
  width: 45.8%;
  border-radius: 6px;
  background: var(--white);
  background-size: cover;
  background-position: 50% 0;
  -webkit-box-shadow: 0 9px 15px rgb(100 100 123 / 7%);
  box-shadow: 0 9px 15px rgb(100 100 123 / 7%);
}

.image3 {
  left: 40.9%;
  top: 15.9%;
  -webkit-transform: rotate(9.87deg);
  transform: rotate(9.87deg);
  position: absolute;
  width: 45.8%;
  border-radius: 6px;
  background: var(--white);
  background-size: cover;
  background-position: 50% 0;
  -webkit-box-shadow: 0 9px 15px rgb(100 100 123 / 7%);
  box-shadow: 0 9px 15px rgb(100 100 123 / 7%);
}

.blog-post--lazy {
  content-visibility: auto;
}

.blog-post {
  position: relative;
  background-color: white;
  padding-bottom: 96px;
}

.blog-post__content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-post__content-main {
  z-index: 1;
  min-width: 0;
}

.blog-post__content-main-wrapper {
  font-size: 19px;
  line-height: 28px;
  font-family: tt tricks, serif;
}

/* .blog-post__content-main-wrapper p {
  margin-bottom: 16px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 23px;
} */
.blog-post__content .compare-resumes__view {
  position: relative;
  width: 104%;
  height: 640px;
  background-color: #eff2f9;
  border-radius: 6px;
  overflow: hidden;
}

.blog-post__content .compare-resumes__view--ready .compare-resumes__resume {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post-banner-cta {
  position: relative;
  display: block;
}

.post-banner-cta .post-banner-cta--wide {
  width: 100%;
  margin: 24px auto 48px;
}

.post-banner-cta__main {
  min-height: 220px;
  border-radius: 6px 6px 0 0;
  background-color: #f3f1eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0 24px;
}

.post-banner-cta__title--top {
  display: none;
  text-align: center;
  font-size: 19px;
  line-height: 24px;
  padding: 0 20px;
  font-weight: 600;
}

.post-banner-cta.post-banner-cta--wide .post-banner-cta__text {
  padding: 0;
  text-align: left;
  padding: 10px;
}

.post-banner-cta__title {
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

/* ASIDE CSS */
.blog-post--with-single-aside .blog-post__content .blog-post__content-aside {
  width: 25%;
}

.blog-post__content-aside--right {
  margin-left: 5%;
}

.blog-post__content-aside {
  width: calc(var(--blog-column-with-gutter-2) + var(--blog-desktop-gutter-step));
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
}

.blog-aside {
  position: -webkit-sticky;
  position: sticky;
  top: 96px;
  display: block;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
  width: 100%;
}

.blog-aside__item.show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.35s ease, visibility 0s;
  transition: opacity 0.35s ease, visibility 0s;
}

.blog-aside__item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  visibility: hidden;
  -webkit-transition: opacity 0.35s ease, visibility 0.35s 0s;
  transition: opacity 0.35s ease, visibility 0.35s 0s;
  will-change: opacity, visibility;
}

.post-banner-cta {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
}

.post-banner-cta:first-child {
  margin-top: 0;
}

.post-banner-cta:last-child {
  margin-bottom: 0;
}

.post-banner-cta__animation {
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  padding-bottom: 88%;
  overflow: hidden;
}

.post-banner-cta__animation-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post-banner-cta__animation-frame:nth-child(1) {
  background-image: url(/1stsvg.png);
  -webkit-animation: fly1 5s linear infinite;
  animation: fly1 5s linear infinite;
  -webkit-transition: left 0.7s ease;
  transition: left 0.7s ease;
}

.post-banner-cta__animation-frame:nth-child(2) {
  background-image: url(/2ndsvg.png);
  -webkit-animation: fly2 4s linear infinite;
  animation: fly2 4s linear infinite;
  -webkit-transition: left 0.6s ease;
  transition: left 0.6s ease;
}

.post-banner-cta__animation-frame:nth-child(3) {
  background-image: url(/3rdsvg.png);
  -webkit-animation: fly1 3s linear infinite;
  animation: fly1 3s linear infinite;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.post-banner-cta__animation-frame:nth-child(4) {
  background-image: url(/4thsvg.png);
  -webkit-animation: fly2 3s 0.5s linear infinite;
  animation: fly2 3s 0.5s linear infinite;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
}

.post-banner-cta__text {
  padding: 0 24px;
  width: 100%;
  text-align: center;
}

.post-banner-cta__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px 24px;
  border-radius: 0 0 6px 6px;
  background-color: #1e2532;
  color: white;
  font-size: 17px;
  font-weight: 600;
  -webkit-transition: background-color 0.15s;
  transition: background-color 0.15s;
}

/* ASIDE END */
.App {
  font-family: sans-serif;
  /* text-align: center; */
  background-color: #f6f9fe;
  height: 100vh;
}

.image-item {
  display: flex;
  margin: 10px 0;
}

.image-item__btn-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

button {
  height: 40px;
}

.pic_container {
  /* border: 2px solid black; */
  border-radius: 50%;
}

.pic_container:hover {
  /* border: 2px solid black; */
  border-radius: 50%;
  cursor: pointer;
  display: block;
}

.hide {
  display: none;
}

.hide:hover {
  display: block;
}

.imageHidden {
  display: none;
}

.p-image {
  position: absolute;
  top: 167px;
  right: 30px;
  color: #666666;

  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.blog-post__content-main-wrapper .js-wide-element {
  position: relative;
  width: calc((25.6px * 100) - 80px);
  max-width: 1400px;
  position: relative;
  z-index: 10;
}

.blog-post__content .compare-resumes {
  margin: 40px 0;
}

.builder-cta__visual {
  position: relative;
  width: 57%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 32px;
}

.blog-post--with-single-aside .blog-post__content {
  max-width: 1200px;
}

.blog-post__content {
  padding-top: 60px;
}

.blog-post__content {
  margin: 0 auto;
  width: 100%;
  padding: 40px 20px 40px 20px;
}

.blog-post__content-main-wrapper iframe {
  max-width: 100%;
  padding: 0;
  margin: 40px 0px;
}

.blog-post--with-single-aside .blog-post__content .blog-post__content-main-wrapper figure.image.image--large,
.blog-post--with-single-aside .blog-post__content .blog-post__content-main-wrapper .js-wide-element,
.blog-post--with-single-aside .blog-post__content .blog-post__content-main-wrapper .wide-element {
  max-width: 1120px;
  left: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.resume1 {
  background-image: url("/public/Chief_Exclusive_Office.jpg");
}

/* Compare Resumes */

.blog-post__content .compare-resumes__view--ready .compare-resumes__resume {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-post__content .compare-resumes__resume--good {
  -webkit-transform: translateX(-252px) translateY(48px);
  transform: translateX(-252px) translateY(48px);
  z-index: 2;
}

.blog-post__content .compare-resumes__resume {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 384px;
  height: 544px;
  margin-left: -196px;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  overflow: hidden;
  opacity: 1;
  border-radius: 4px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-box-shadow: 0 24px 60px rgb(186 200 227 / 20%),
    0 16px 36px rgb(186 200 227 / 50%);
  box-shadow: 0 24px 60px rgb(186 200 227 / 20%),
    0 16px 36px rgb(186 200 227 / 50%);
}

.blog-post__content .compare-resumes__mark {
  width: 54px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 50%;
  color: whitesmoke;
  background-color: #eff2f9;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: opacity 0.2s 0.4s ease;
  transition: opacity 0.2s 0.4s ease;
}

.blog-post__content .compare-resumes__view--intro .compare-resumes__mark::before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.blog-post__content .compare-resumes__mark::before {
  content: "";
  position: absolute;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  top: 12px;
  left: 12px;
  background: green;
  border-radius: 50%;
  z-index: 1;
  -webkit-transform: scale(0);
  transform: scale(0);
  will-change: transform;
}

@media only screen and (max-width: 1023px) {
  .resume-templates__content {
    max-width: 100% !important;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin: 0 !important;
  }
}

.resume-templates__content {
  position: relative;
  max-width: 384px;
  margin-right: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.2s ease-in,
    -webkit-transform 0.2s ease-in;
}

@media only screen and (max-width: 1023px) {
  .resume-templates__trustpilot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 1023px) {
  .resume-templates__slider-arrow-container {
    display: none;
  }
}

/* Compare mark resume icon */

.blog-post__content .compare-resumes__view--intro .compare-resumes__mark-icon {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.blog-post__content .compare-resumes__mark-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/correct.png) no-repeat center;
  background-size: 32px;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transform: scale(0);
  transform: scale(0);
  will-change: transform;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

user agent stylesheet div {
  display: block;
}

/* After icon div */
.blog-post__content .compare-resumes__view--intro .compare-resumes__mark::after,
.blog-post__content .compare-resumes__view--intro .compare-resumes__mark::before,
.blog-post__content .compare-resumes__view--intro .compare-resumes__mark-icon {
  -webkit-animation: zoomIn 0.4s 0.2s cubic-bezier(0.33, 0.12, 0.02, 1.5) forwards;
  animation: zoomIn 0.4s 0.2s cubic-bezier(0.33, 0.12, 0.02, 1.5) forwards;
}

.blog-post__content .compare-resumes__mark::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-transform: scale(0);
  transform: scale(0);
  will-change: transform;
}

/* BAD RESUME STYLING */

.blog-post__content .compare-resumes__view--ready .compare-resumes__resume {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-post__content .compare-resumes__resume--bad {
  opacity: 1;
  -webkit-transform: translateX(252px) translateY(48px);
  transform: translateX(252px) translateY(48px);
}

@media only screen and (max-width: 1023px) {
  .blog-post__content .compare-resumes__resume--bad {
    -webkit-transform: translateX(167px) translateY(32px);
    transform: translateX(167px) translateY(32px);
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content .compare-resumes__resume--bad {
    -webkit-transform: translateX(85px) translateY(24px);
    transform: translateX(85px) translateY(24px);
  }
}

.blog-post__content .compare-resumes__create-resume {
  color: white;
  position: absolute;
  bottom: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(150px) scale(1);
  transform: translateX(-50%) translateY(150px) scale(1);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  z-index: 3;
  pointer-events: none;
}

.button {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  text-align: center;
  color: white;
  background-color: #1a91f0;
  padding: 14px 24px;
  border-radius: 4px;
  -webkit-transition: background-color 0.1s, color 0.1s, -webkit-box-shadow 0.1s;
  transition: background-color 0.1s, color 0.1s, -webkit-box-shadow 0.1s;
  transition: background-color 0.1s, color 0.1s, box-shadow 0.1s;
  transition: background-color 0.1s, color 0.1s, box-shadow 0.1s,
    -webkit-box-shadow 0.1s;
  cursor: pointer;
  border-width: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.blog-post__content .compare-resumes__view--ready.compare-resumes__view--hover .compare-resumes__create-resume {
  -webkit-transform: translateX(-50%) translateY(0px);
  /* transform: translateX(-50%) translateY(0px); */
  -webkit-transition: -webkit-transform 0.3s 0.2s ease;
  transition: -webkit-transform 0.3s 0.2s ease;
  transition: transform 0.3s 0.2s ease;
  transition: transform 0.3s 0.2s ease, -webkit-transform 0.3s 0.2s ease;
}

@media only screen and (max-width: 767px) {
  .blog-post__content .compare-resumes__create-resume {
    bottom: 24px;
  }
}

/* sad */
.post-banner-cta.post-banner-cta--wide:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .post-banner-cta.post-banner-cta--wide {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.post-banner-cta.post-banner-cta--wide {
  width: 100%;
  margin: 24px auto 48px;
}

.post-banner-cta:last-child {
  margin-bottom: 0;
}

.post-banner-cta {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
  .post-banner-cta.post-banner-cta--wide .post-banner-cta__main {
    padding-left: 320px;
    padding-right: 32px;
  }
}

.post-banner-cta__main {
  min-height: 220px;
  border-radius: 6px 6px 0 0;
  background-color: #f3f1eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 0 24px;
}

@media only screen and (min-width: 768px) {
  .post-banner-cta.post-banner-cta--wide .post-banner-cta__title {
    margin-bottom: 8px;
  }
}

.post-banner-cta__title--top {
  display: none;
  text-align: center;
  font-size: 19px;
  line-height: 24px;
  padding: 0 20px;
}

.post-banner-cta__title {
  font-size: 26px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
  .post-banner-cta.post-banner-cta--wide .post-banner-cta__image {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 40px;
    width: 240px;
    height: 210px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.post-banner-cta__image {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 24px;
  width: 100%;
  padding-bottom: 87.5%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;
}

@media only screen and (min-width: 768px) {
  .post-banner-cta.post-banner-cta--wide .post-banner-cta__text {
    padding: 0;
    text-align: left;
  }
}

@media only screen and (min-width: 768px) {
  .post-banner-cta.post-banner-cta--wide .post-banner-cta__caption {
    font-size: 19px;
    line-height: 24px;
  }
}

.post-banner-cta__caption {
  font-size: 16px;
  line-height: 20px;
}

@media only screen and (min-width: 768px) {
  .post-banner-cta.post-banner-cta--wide .post-banner-cta__button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.post-banner-cta__button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* sad */

/* f3f1eb */

/* Extra styling for responsivness */
@media only screen and (max-width: 767px) {
  .blog-post {
    padding-bottom: 40px;
  }
}

@media only screen and (max-width: 1023px) {
  .blog-post {
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 1023px) {
  .blog-post__content {
    padding-top: 32px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content {
    max-width: 540px;
    padding: 0 20px;
  }
}

@media only screen and (max-width: 1199px) {
  .blog-post__content {
    padding: 0 32px;
  }
}

@media only screen and (max-width: 1023px) {
  .blog-post__content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content-main {
    font-size: 17px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content-main-wrapper {
    font-size: 17px;
    line-height: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content-main-wrapper iframe {
    margin: 24px auto;
  }
}

@media only screen and (max-width: 767px) {
  .post-banner-cta.post-banner-cta--wide {
    max-width: 375px;
  }
}

@media only screen and (max-width: 1023px) {
  .blog-post__content-aside--right {
    display: none;
  }
}

.blog-post__content-main-wrapper .headline {
  font-size: 32px;
  line-height: 34px;
  font-family: tt commons, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 48px;
}

@media only screen and (max-width: 767px) {
  .blog-post__content-main-wrapper .headline {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 12px;
  }
}

@media only screen and (max-width: 1199px) {
  .blog-post__content-main-wrapper .js-wide-element {
    width: calc(var(25.6px * 100) - 70px);
  }
}

@media only screen and (max-width: 1023px) {
  .blog-post__content .compare-resumes {
    width: 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content .compare-resumes {
    margin: 24px 0;
  }
}

@media only screen and (max-width: 1023px) {
  .blog-post__content .compare-resumes__view {
    height: 480px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content .compare-resumes__view {
    height: 260px;
  }
}

/* ________________________ */

@media only screen and (max-width: 1023px) {
  .blog-post__content .compare-resumes__view--ready.compare-resumes__view--hover .compare-resumes__resume--good {
    -webkit-transform: translateX(0) translateY(32px) scale(2);
    transform: translateX(0) translateY(32px) scale(2);
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content .compare-resumes__view--ready.compare-resumes__view--hover .compare-resumes__resume--good {
    -webkit-transform: translateX(0) translateY(24px) scale(2);
    transform: translateX(0) translateY(24px) scale(2);
  }
}

.blog-post__content .compare-resumes__view--ready.compare-resumes__view--hover .compare-resumes__resume--good {
  border-radius: 3px;
  -webkit-transform: translateX(0) translateY(48px) scale(2);
  transform: translateX(0) translateY(48px) scale(2);
}

@media only screen and (max-width: 1023px) {
  .blog-post__content .compare-resumes__resume--good {
    -webkit-transform: translateX(-167px) translateY(32px);
    transform: translateX(-167px) translateY(32px);
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content .compare-resumes__resume--good {
    -webkit-transform: translateX(-85px) translateY(24px);
    transform: translateX(-85px) translateY(24px);
  }
}

@media only screen and (max-width: 1023px) {
  .blog-post__content .compare-resumes__resume {
    width: 294px;
    height: 416px;
    margin-left: -147px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-post__content .compare-resumes__resume {
    width: 150px;
    height: 212px;
    margin-left: -75px;
  }
}

.blog-post__content .compare-resumes__view--ready.compare-resumes__view--hover .compare-resumes__mark {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

@media only screen and (max-width: 767px) {
  .blog-post__content .compare-resumes__mark {
    width: 56px;
    height: 56px;
    margin: -28px 0 0 -28px;
  }
}

@media only screen and (min-width: 1024px) {
  .blog-post__content-main-wrapper .js-wide-element {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* @media only screen and (max-width: 767px){
.blog-post__content .compare-resumes__resume {
  width: 150px;
  height: 212px;
  margin-left: -75px;
}
}
@media only screen and (max-width: 1023px){
.blog-post__content .compare-resumes__resume {
  width: 294px;
  height: 416px;
  margin-left: -147px;
}
} */

/* // SELECT RESUME // */

.resume-templates__slider-arrow-container {
  position: absolute;
  right: -112px;
  width: 36px;
  height: 24px;
  top: calc(50% - 12px);
  color: white;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease;
  transition: transform 0.2s ease, opacity 0.2s ease,
    -webkit-transform 0.2s ease;
}

.resume-templates__arrow:first-child {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.resume-templates__arrow:last-child {
  left: 12px;
}

svg:not(:root) {
  overflow: hidden;
}

.resume-templates__arrow {
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  -webkit-animation: arrowPulse 1.5s ease infinite;
  animation: arrowPulse 1.5s ease infinite;
}

svg {
  fill: currentColor;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

.resume-templates__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 16px;
  margin-left: -2px;
}

.resume-templates__star {
  width: 32px;
  height: 32px;
  background-size: contain;
  margin-right: 2px;
  background-image: url(/stars1.png);
}

.resume-templates__slider-wrapper {
  position: absolute;
  left: 0;
  top: 86px;
  bottom: 74px;
  opacity: 0;
  pointer-events: none;
  will-change: transform;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.resume-templates__slider-container {
  position: relative;
  max-width: 1372px;
}

.resume-templates__slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 24px);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #1a91f0;
  color: white;
  z-index: 2;
  /* -webkit-transform: scale(0);
  transform: scale(0); */
  opacity: 1;
  cursor: pointer;
  will-change: transform;
  -webkit-transition: opacity 0.25s ease-in, background-color 0.15s ease,
    -webkit-transform 0.25s ease-in;
  transition: opacity 0.25s ease-in, background-color 0.15s ease,
    -webkit-transform 0.25s ease-in;
  transition: transform 0.25s ease-in, opacity 0.25s ease-in,
    background-color 0.15s ease;
  transition: transform 0.25s ease-in, opacity 0.25s ease-in,
    background-color 0.15s ease, -webkit-transform 0.25s ease-in;
}

@media only screen and (max-width: 1023px) {
  .resume-templates__slider-wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: static;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
  }
}

/* Chat Button Styling
.BeaconFabButtonFrame {
  border: none;
  bottom: 40px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: 40px;
  top: auto;
  transition: box-shadow 250ms ease, opacity 0.4s ease, scale 1000ms ease-in-out,
    transform 0.2s ease-in-out
}

.BeaconFabButtonFrame:active {
    box-shadow: none;
  }

.BeaconFabButtonFrame iframe {
    border: none;
    height: 100%;
    width: 100%;
    color-scheme: light !important;
  }

  @media only screen and (max-height: 740px) {

.BeaconFabButtonFrame {
    bottom: 10px;
    right: 20px
}
  }

@supports (--css: variables) {
  .BeaconFabButtonFrame.has-pulse-animation::before {
    -webkit-animation: puff-out-center 2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
            animation: puff-out-center 2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    background-color: var(--pulse-background);
    border-radius: 250px;
    bottom: var(--pulse-bottom-offset);
    content: '';
    height: 250px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: var(--pulse-right-offset);
    width: 250px;
    will-change: transform;
    z-index: -1;
  }

  @-webkit-keyframes puff-out-center {
    0% {
      transform: scale(0.2);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  @keyframes puff-out-center {
    0% {
      transform: scale(0.2);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}

.BeaconFabButtonFrame--left {
  left: 40px;
  right: initial
}

@media (max-height: 740px) {

.BeaconFabButtonFrame--left {
    left: 20px;
    right: initial
}
  } */
#selectResume .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* #selectResume .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  } */

#selectResume .swiper-slide img {
  display: block;
  width: 100%;
}

#selectResume .swiper-container {
  position: relative;
  /* width: 90vw; */
  height: 300px;
}

#selectResume .swiper-container>.swiper-slide__content {
  position: absolute;
  top: 0;
}

#selectResume .swiper-slide {
  height: 700px;
  display: flex;
  /* background: #eee; */
  align-items: center;
  justify-content: center;
  transition: all 200ms linear;
  /* transform: scale(0.8); */
}

@media only screen and(min-width:1440px) {
  #selectResume .swiper-slide {
    height: 500px;
    display: flex;
    /* background: #eee; */
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
    transform: scale(0.8);
  }
}

#selectResume .swiper-slide-active {
  transform: scale(1);
  /* background: #fc0 */
}

#selectResume .swiper-slide__content {
  height: 300px;
}

.container1 {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  line-height: 24px;
}

.summary {
  width: 100%;
  display: inline-block;
  padding: 0px 20px;
  color: #002d6b;
  text-align: center;
}

.excellent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  margin: 20px auto 20px auto;
}

.reviews {
  width: 100%;
  display: inline-block;
  padding: 20px 0px;
  vertical-align: top;
  overflow: hidden;
}

.tpilot .reviews .wrap-slides {
  display: flex;
  margin-bottom: 50px;
  transition: 0.5s;
}

#aboutUs .swiper {
  width: 100%;
  height: 100%;
}

#aboutUs .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 30px;
  height: 285px;
}

#aboutUs .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#aboutUs .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  margin: 0 10px;
  background-color: rgb(219, 219, 219);
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  color: transparent;
}

#aboutUs .swiper-pagination-bullet-active {
  background-color: rgb(255, 136, 115);
}

#aboutUs .swiper-pagination {
  position: absolute;
  /* top: 10px; */
  left: 10px;
  /* width: auto !important; */
  left: auto !important;
  margin: 0;
  width: "100%";
}

.arrows.eos {
  cursor: not-allowed;
}

.tpilot .arrows {
  border: none;
  padding: 0;
}

.arrows {
  background-color: rgb(2, 129, 140);
  color: #fff;
  border-radius: 50%;
  box-shadow: 1px 3px 5px #cfcfcf;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  cursor: pointer;
  bottom: 5%;
  line-height: 48px;
  font-size: 35px;
  font-family: monospace;
  box-sizing: border-box;
  text-align: center;
}

.left-arrow {
  left: 6px;
}

.tpilot .arrows {
  border: none;
  padding: 0;
}

.right-arrow {
  right: 6px;
}

.cardContent {
  gap: 0;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 250px;
  height: fit-content;
}

.container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.2s ease-in;
  background-color: rgba(0, 0, 0, 0);
}

.container:hover::before {
  background-color: rgba(0, 0, 0, 0.162);
}

.container img {
  display: block;
}

.container button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 0;
}

.container:hover button {
  opacity: 1;
}

.btn {
  background-color: #5d6d7e;
  transition: box-shadow 0.5s ease;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  box-shadow: -3px -6px #5d6d7e93, 3px 6px #5d6d7e93;
}

#aboutUs .swiper-pagination {
  position: absolute;
  /* top: 10px; */
  left: 10px;
  /* width: auto !important; */
  left: auto !important;
  margin: 0;
  width: "100%";
}

.feedbackBtn {
  background: linear-gradient(to right, #c66ed6, #628afd);
  width: 110px;
  height: 35px;
  border-radius: 17px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
}

.feedbackBtn2 {
  border: 2px solid transparent;
  border-radius: 17px;
  background: linear-gradient(to right, white, white),
    linear-gradient(to right, #c66ed6, #628afd);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  width: 110px;
  height: 35px;
  font-weight: 600;
  font-size: 16px;
}

.afterlink {
  position: relative;
  font-family: "poppins", sans-serif;
}

.afterlink::after {
  content: "";
  position: absolute;
  background: #00c8aa;
  width: 0%;
  height: 2px;
  display: block;
  margin: auto;
  transition: 1.5s;
  left: 0;
}

.afterlink:hover::after {
  width: 100%;
  text-decoration: none;
  box-shadow: 5px solid black;
  text-shadow: 5px solid black;
}

.afterHeading {
  position: relative;
  font-family: "EuclidCircularB-Bold", sans-serif;
}

.afterHeading::after {
  content: "";
  position: absolute;
  background: #00c8aa;
  width: 30%;
  height: 6px;
  display: block;
  margin: auto;
  transition: 1s;
  right: 0;
  border-radius: 30px;
}

.afterHeading:hover::after {
  width: 100%;
  text-decoration: none;
  box-shadow: 5px solid black;
  text-shadow: 5px solid black;
}

.hoverEffects {
  --c: goldenrod;
  color: black;
  background-color: #006772;
  /* font-size: 16px; */
  border: 0.3em solid goldenrod;
  font-family: "EuclidCircularB-Bold";
  border-radius: 0.5em;
  /* width: 12em;
  height: 3em; */
  text-transform: uppercase;
  /* font-weight: bold; */
  font-family: sans-serif;
  /* letter-spacing: 0.1em; */
  text-align: center;
  /* line-height: 3em; */
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  /* margin: 1em; */
}

.hoverEffects span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: rgb(3, 35, 44);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.hoverEffects:hover {
  color: white;
  border: 1px solid goldenrod;
}

.hoverEffects:hover span {
  transform: translateY(0) scale(2);
}

.hoverEffects span:nth-child(1) {
  --n: 1;
}

.hoverEffect span:nth-child(2) {
  --n: 2;
}

.hoverEffects span:nth-child(3) {
  --n: 3;
}

.hoverEffects span:nth-child(4) {
  --n: 4;
}

.sectionModalBtn:before {
  content: "+";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.2s ease-in;
  opacity: 0;
  border-radius: 5px;
  font-size: 25px;
  transition: 0.5s opacity;
}

.sectionModalBtn:hover::before {
  background-color: #06bca3;
  opacity: 1;
}

.sectionModalBtn2:before {
  content: "-";
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.2s ease-in;
  opacity: 0;
  border-radius: 5px;
  font-size: 25px;
  transition: 0.5s opacity;
}

.sectionModalBtn2:hover::before {
  background-color: #2cacd5;
  opacity: 1;
}

/* .chakra-collapse{
  display: flex !important;
  justify-content: flex-end;
  z-index: 999;
} */

.mainContainer {
  padding-left: 60px;
  padding-right: 60px;
}

@media only screen and (max-width: 991px) {
  .mainContainer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* Not Found page Styling  */
.notFoundContainer {
  /* background-color: #1b6671; */
  background-image: linear-gradient(#1b6671, #b6d1d5);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coming-soon-text {
  font-size: 4rem;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 501px) {
  .coming-soon-text {
    font-size: 2.4rem;
  }
}

.rotate {
  transform: rotate(5deg);
  display: "none";
}
/* Spinner Styling  */

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1b6672;
  z-index: 9999;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border-left: 10px dotted rgba(0, 0, 0, 0);
  border-right: 10px dotted rgba(0, 0, 0, 0);
  border-bottom: 10px dotted rgba(0, 0, 0, 0);
  border-top: 10px dotted #0e4f5a;
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
