.nameStyle {
    color: #000 !important;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 15px;
}

.lastNameStyle {
    color: #947F57 !important;
    font-size: 1.4em;
    font-weight: 500;
}

.graphicContectLeftStyle {
    margin-right: 20px;
    color: #947F57 !important;
    font-size: 14px !important;
}

.graphicContectRightStyle {
    margin-left: 20px;
    color: #947F57 !important;
    font-size: 14px !important;
}

.profileTxt {
    color: #947F57 !important;
    text-align: center;
    padding: 10px 0px;
    font-weight: 600;
    font-size: 16px;
}

.aboutBodyDes {
    font-size: 16px;
    color: #947F57 !important;
    line-height: 20px;
    text-align: center;
    padding: 15px 25px;
}

.sectionHeadings {
    color: #947F57 !important;
    padding: 5px 0px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.expertiseBodyHeadings {
    color: #947F57 !important;
    font-weight: 600;
    font-size: 15px;
}
.educationDesHeading {
    color: #3D3D3D !important;
    font-weight: 600;
    font-size: 15px;
}
.educationDesTxt {
    color: #3D3D3D !important;
}
.experienceDesHeadings {
    color: #3D3D3D !important;
    font-weight: 700;
    font-size: 16px;
}
.experienceDesBody {
    color: #3D3D3D !important;
    font-size: 15px;
    text-align: justify;
}
.skillBodyHeading {
    font-size: 15px;
    color: #3D3D3D !important;
    font-weight: 500;
}
.inputData {
    font-size: 14px !important;
    color: #3D3D3D;
    margin-left: 10px;
}
.perD {
    display: inline-block;
    margin-left: -15px !important;
    font-size: 13px !important;
    color: #3D3D3D;
}