.ctaContainer {
  background: linear-gradient(
    280deg,
    transparent 0%,
    transparent 18%,
    rgb(34, 99, 108) 0,
    rgb(22, 104, 118) 100%
  );
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  /* border-right: 5px solid white; */
}
.ctaLeftSec {
  padding-left: 100px;
  width: 40%;
  margin-top: 10%;
}
.ctaRightSec {
  width: 60%;
  margin-top: 3.3%;
}
.ctaHeading {
  color: white;
  font-size: 45px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  line-height: normal;
}
.ctaHeroButton {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: orangered;
  padding: 15px 40px;
  border: none;
  margin-top: 10%;
  cursor: pointer;
}
.ctaText {
  color: white;
  font-size: 20px;
  margin-top: 10%;
  line-height: normal;
}
.heroIconImgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 35%;
  margin-top: 20px;
}
@media (max-width: 960px) {
  .ctaContainer {
    background: linear-gradient(
      0deg,
      transparent 0%,
      transparent 0%,
      rgb(34, 99, 108) 0,
      rgb(22, 104, 118) 100%
    );
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .ctaLeftSec {
    width: 100%;
    padding-left: 0px;
  }
  .ctaRightSec {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ctaHeading {
    font-size: 65px;
    text-align: center;
  }
  .ctaText {
    color: white;
    font-size: 25px;
    text-align: center;
  }
  .ctaHeroButton {
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 33%;
  }
  .heroIconImgs {
    margin-left: 22%;
  }
}

@media (min-width: 1440px) {
  .ctaHeading {
    font-size: 4.5rem;
  }
  .ctaText {
    font-size: 2rem;
  }
  .ctaHeroButton {
    font-size: 1.5rem;
    padding: 15px 30px;
  }
}

@media (max-width: 720px) {
  .ctaHeading {
    font-size: 55px;
  }
  .ctaHeroButton {
    margin-left: 27%;
  }
  .heroIconImgs {
    margin-left: 15%;
  }
}
@media (max-width: 620px) {
  .ctaLeftSec {
    width: 100%;
    padding-left: 0px;
  }
  .ctaHeading {
    font-size: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ctaHeroButton {
    font-size: 12px;
    padding: 7px 15px;
    margin-left: 35%;
  }
  .ctaText {
    font-size: 22px;
  }
  .heroIconImgs {
    margin-left: 15%;
    margin-right: 25%;
  }
}
@media (max-width: 520px) {
  .ctaLeftSec {
    width: 100%;
    padding-left: 0px;
  }
  .ctaHeading {
    font-size: 35px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ctaHeroButton {
    font-size: 15px;
    padding: 7px 15px;
    margin-left: 33%;
  }
  .ctaText {
    font-size: 20px;
  }
  .heroIconImgs {
    margin-left: 10%;
    margin-right: 15%;
  }
}
@media (max-width: 420px) {
  .ctaLeftSec {
    width: 100%;
    padding-left: 0px;
  }
  .ctaHeading {
    font-size: 32px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .ctaHeroButton {
    padding: 5px 10px;
    margin-left: 30%;
  }
  .ctaText {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .heroIconImgs {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 320px) {
  .ctaLeftSec {
    width: 100%;
    padding-left: 0px;
  }
  .ctaHeading {
    font-size: 24px;
  }
  .ctaHeroButton {
    font-size: 10px;
    padding: 5px 7px;
    margin-left: 33%;
  }
  .ctaText {
    font-size: 18px;
    padding-left: 13px;
    padding-right: 13px;
  }
  .heroIconImgs {
    margin-right: 7%;
    margin-left: 7%;
  }
  @media (max-width: 760px) {
    .hrLine {
      margin-left: 40%;
    }
  }
  @media (max-width: 430px) {
    .hrLine {
      margin-right: 10%;
    }
  }
  @media (max-width: 320px) {
    .hrLine {
      margin-right: 60%;
    }
  }
}
.benefitBtn {
  transition: transform 0.3s ease;
}
.benefitBtn::after,
.benefitBtn::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #027c98;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  border-radius: 50px;
  z-index: -1;
  transition: transform 0.3s ease;
}
.benefitBtn:hover {
  background-color: #027c87;
  color: white;

  transform: translate(-12px, -12px);
}
.benefitBtn:hover::after {
  transform: translate(6px, 6px);
}
.benefitBtn:hover::before {
  transform: translate(12px, 12px);
}

.toastLine {
  transition: 2s ease;
}
